@use 'variables'as *;

.contents-container{
    margin: 71px 3% 71px 3%;
    //margin-top: 71px;
    //margin-left: 3%;
}
.Form-Btn {
    font-family: $sans;
    display: inline-block;
    margin-top: 2vw;
    border-style: solid;
    border-width: 3px;
    border-color: $main-02;
    height: auto;
    width: 13%;
    border-radius: 4px;
    font-size: 24px;
    padding-top: 0.8vw;
    padding-bottom: 0.8vw;
    text-align: center;
    background-color: $base-01;
    color: $main-02;
    transition: all 1s ease;
    
    &:hover{
        position: relative;
        top: 2px;
        background-color: $main-02;
        color: $base-01;
    }
  }
  @media screen and (max-width: 599px) {
    .Form-Btn {
      margin-top: 24px;
      padding-top: 8px;
      padding-bottom: 8px;
      width: 160px;
      font-size: 16px;
    }
  }

.contents-container{
  opacity: 0; /* 最初は非表示にする */
  transform: translateY(0.1px); /* 開始時の位置（下に20px移動させる例） */
  transition: opacity 1s, transform 1s; /* アニメーションの設定 */
}  

// .fade-in {
//   opacity: 1;
//   transition: opacity 1s ;
// }

.fixed_btn {
  opacity: 0; /* 最初は非表示にする */
  transform: translateY(0.1px); /* 開始時の位置（下に20px移動させる例） */
  transition: opacity 1s, transform 1s; /* アニメーションの設定 */
  font-family: $sans;
  font-weight: 500;
  position: fixed;
  bottom: -100px; 
  bottom: 5%;
  right: 5%;
  // transition: opacity 1s , transform 1s;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 110px;
  background: $accent-01;
  color: $text-01;
  // text-decoration: none;
  text-align: center;
  margin: 10px 0;
  z-index: 100;
  // transition: bottom 0.3s ease-in-out;
  //padding: 6px 40px;
  }
@media screen and (max-width: 599px){
  .fixed_btn{
    font-size: small;
    font-family: $sans;
    font-weight: 500;
    position: fixed;
    bottom: 5%;
    right: 5%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background: $accent-01;
    color: $text-01;
    text-decoration: none;
    text-align: center;
    margin: 10px 0;

  }

}
