//color
$base-01:#FFFCFA;
$main-01:#AA8A72;
$main-02:#5093CC;  
$accent-01:#FF9C57;
$text-01:#FFFFFF;
$text-02:#323232;

//font
$logo:'Montserrat',sans-serif;
$sans:'Noto Sans JP',sans-serif;
$serif:'Noto Serif JP',serif;

